el-header {
    border-radius: 5px;
}

el-main {
    border-radius: 5px;
}

.main-card {
    background-color: white;

}

.el-card-cs {
    height: 350px;
    margin: 5px;
}

.el-container-box {
    background-color: white;
    margin: 5px;
    border-radius: 5px;
}

.screen-height {
    height: 98.5%;
}

.date-selector {
    padding: 10px;
    margin: 15px 5px;
}
